node_modules
# Native projects (keep these!)
# android
# ios

# Native builds
android/app/build
android/.gradle
android/local.properties
ios/App/App/public
ios/App/build
ios/App/Pods
.tools

dist
coverage
.DS_Store
