name: WADI CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Type Check (Frontend)
        run: pnpm --filter frontend exec tsc --noEmit

      - name: Type Check (API)
        run: pnpm --filter wadi-api exec tsc --noEmit

      - name: Run ESLint
        run: pnpm lint

      - name: Run API Smoke Tests
        run: pnpm --filter wadi-api vitest run health.smoke.test.ts
